<div class="container">
  <div class="people">
    <ul>
      <li *ngFor="let person of people">
        <app-traffic-light
          [key]="person.id.toString()"
          [(ngModel)]="person.status"
          (ngModelChange)="updateJsonOutput()"
        ></app-traffic-light>

        <span>{{ person.name }}</span>
      </li>
    </ul>

    <button (click)="printOnConsole()" class="console-button">Console!</button>
  </div>

  <div class="output">
    <textarea disabled [value]="jsonOutput"></textarea>
  </div>
</div>
